<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
    
    Connection Local: Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication1-20150614074508.mdf;Initial Catalog=aspnet-WebApplication1-20150614074508;Integrated Security=True
    Connection Cloud: Server=tcp:hmupj9lroq.database.windows.net,1433;Database=perigometro;User ID=pr0sp3r1d4d3@hmupj9lroq;Password=@_p4r4t_0d05!;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;
-->
    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-WebApplication1-20150614074508.mdf;Initial Catalog=aspnet-WebApplication1-20150614074508;Integrated Security=True;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
