@{
    ViewBag.Title = "Home Page";
}

<div id="map_canvas">

</div>

<div id="botoes">
    <button onclick="adicionaHeatmap()">Adiciona HeatMap</button>
    <button onclick="toggleHeatmap()">toggleHeatmap</button>
    <button onclick="changeGradient()">changeGradient</button>
    <button onclick="changeRadius()">changeRadius</button>
    <button onclick="changeOpacity()">changeOpacity</button>
</div>

@section Scripts{
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
</script>
@Scripts.Render("~/bundles/javascriptmapa");
}