body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-brand {
    padding: 15px 15px;
    margin-left: 30px !important;
}

.logo {
  max-height: 50px;
  position: absolute;
  left: 5px;
  top: 12px;
}

body #map_canvas {
    position: absolute;
    top: 40px;
    right:0;
    bottom:0;
    left:0;
}

#sobre1 {
    height: 100%;
    background:url(img/cwi.png) no-repeat center;
}

#botoes {
    position: absolute;
    bottom: 0;
    text-align: center;
}




.navbar-default {
  background-color: #e74c3c;
  border-color: #c0392b;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}
.navbar-default .navbar-text {
  color: #7e1308;
}
.navbar-default .navbar-nav > li > a {
  color: #9b2519;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: #c0392b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: white;
  background-color: #c0392b;
}
.navbar-default .navbar-toggle {
  border-color: #c0392b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #c0392b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: white;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: white;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: white;
    background-color: #c0392b;
  }
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  background: #fff;
}

#dicaTra {
    
    font-weight: bold;
    font-size: 18px;
    color: #c0392b;
}

.loader {
  width: 250px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px -125px;
  list-style-type: none;
}

.loader li {
  float: left;
  position: relative;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 0 0 50% 50%;
  border: 4px solid #c0392b;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.ball {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 100%;
  background: #c0392b;
  box-shadow: 0 -15px 0 0 rgba(192, 57, 43, 0.15), 0 -10px 0 0 rgba(192, 57, 43, 0.10), 0 -5px 0 0 rgba(192, 57, 43, 0.05);
}

.circle {
  -webkit-animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
  animation: rotate 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
}

.ball {
  -webkit-animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
  animation: fall 1.5s cubic-bezier(0.95, 0, 1, 1) infinite;
}

.loader li:nth-child(1) div {
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

.loader li:nth-child(2) div {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.loader li:nth-child(3) div {
  -webkit-animation-delay: 300ms;
  animation-delay: 300ms;
}

.loader li:nth-child(4) div {
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

.loader li:nth-child(5) div {
  -webkit-animation-delay: 500ms;
  animation-delay: 500ms;
}

@keyframes rotate {
  0%, 20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  0%, 20% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fall {
  0%, 20% {
    -webkit-transform: translatey(-30px);
            transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    opacity: 1;
  }
  22% {
    -webkit-transform: translatey(-10px);
            transform: translatey(-10px)
  }
  25% {
    -webkit-transform: translatey(-6px);
            transform: translatey(-6px)
  }
  28% {
    -webkit-transform: translatey(-2px);
            transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(192, 57, 43, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(192, 57, 43, 0.15), 0 -10px 0 0 rgba(192, 57, 43, 0.10), 0 -5px 0 0 rgba(192, 57, 43, 0.05);
    -webkit-transform: translatey(30px);
            transform: translatey(30px);
    opacity: 0;
  }
}

@-webkit-keyframes fall {
  0%, 20% {
    -webkit-transform: translatey(-30px);
    opacity: 0;
  }
  20%,
  24%,
  27%,
  30%,
  50%,
  75% {
    -webkit-transform: translatey(0px);
    opacity: 1;
  }
  22% {
    -webkit-transform: translatey(-10px)
  }
  25% {
    -webkit-transform: translatey(-6px)
  }
  28% {
    -webkit-transform: translatey(-2px)
  }
  30% {
    box-shadow: 0px 0px 0px rgba(192, 57, 43, 0.3);
  }
  75%,
  100% {
    box-shadow: 0 -15px 0 0 rgba(192, 57, 43, 0.15), 0 -10px 0 0 rgba(192, 57, 43, 0.10), 0 -5px 0 0 rgba(192, 57, 43, 0.05);
    -webkit-transform: translatey(30px);
    opacity: 0;
  }
}