@{
    ViewBag.Title = "Estatísticas";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h2 class="text-center">Estatísticas dos Acidentes  </h2>

        <p class="text-center">
            Filtrando por um intervalo de anos, podemos ter algumas estatísticas:
        </p>
        <h4>Escolha o período</h4>
        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" id="anoIni">
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" id="anoFin">
                    <option>2000</option>
                    <option>2001</option>
                    <option>2002</option>
                    <option>2003</option>
                    <option>2004</option>
                    <option>2005</option>
                    <option>2006</option>
                    <option>2007</option>
                    <option>2008</option>
                    <option>2009</option>
                    <option>2010</option>
                    <option>2011</option>
                    <option>2012</option>
                    <option>2013</option>
                </select>
            </div>           
        </form>        
        <button class="btn btn-success" onclick="submit()">Gerar relatório</button><br> 
    </div>
    
    <br /><br />

    <div class="row">
        <div class="col-md-6 text-center" name="mortes">
            <br /><br />
            <label>Índice de mortes por Região:</label>
            <div>
                <canvas id="myChart" width="300" height="300"></canvas>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <br /><br />
            <label>Estatísticas gerais:</label>
            <div>
                <canvas id="numeros" name="numeros" width="400" height="500"></canvas>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/javascriptDashBoard")
    <script>
        inicializaPie();
        inicializaBar();
        function submit() {
            $('ul[class=loader]').removeAttr('hidden');
            var ano1 = $('#anoIni option:selected').val();
            var ano2 = $('#anoFin option:selected').val();
            var back = ano1;
            if (ano1 > ano2) { ano1 = ano2; ano2 = back; }
            buscaEstatisticas(ano1, ano2);
        }
    </script>
}
