
@{
    ViewBag.Title = "Estatísticas";
}

<div class="row">
    <div class="col-md-8">
        <h2>Estatísticas dos Acidentes  </h2>
        
        <p>
            Filtrando por um intervalo de anos, podemos ter algumas estatísticas:
        </p>
        <h4>Escolha o período</h4>
        <p>
            <ul>
                <li>De: </li>
                <li>Até: </li>
            </ul>
        </p>
    </div>
</div>
@section Scripts{
 @Scripts.Render("~/bundles/javascriptDashBoard")
}
