@{
    ViewBag.Title = "Sobre";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="sobre">
        <span id="texto">
            <h2 class="text-center">Trabalho de conclusão de curso  </h2><br />
            <h4>Projeto Crescer CWI Software - 2015/1</h4>
            <p class="text-justify">
                Através da base de dados do datapoa.com.br, criar um site que permita ao usuário exibir um mapa de calor dos
                acidentes de trânsito em Porto Alegre, que pode ser filtrado por: condições climáticas, tipo de veículo, região, período
                em anos (ex: de 2004 até 2013) ou TODOS.
            </p><br />
            <h4>Componentes do Grupo:</h4>
            <p>
                <ul>
                    <li>Augusto Schiller Wartchow</li>
                    <li>José Alencar de Souza Rocha</li>
                    <li>Rodrigo Frohlich</li>
                </ul>
            </p>
        </span>        
    </div>
    <div class="col-md-2"></div>
</div>
